<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- bootstrap scripts -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

      <!-- Default Styles -->
      <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
      <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
      <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

      <!-- Nav Styles -->
      <link rel="stylesheet" href="/styles/top-bar.css" type="text/css" />

      <!-- Planning Todo and List Styles -->
      <link rel="stylesheet" href="/styles/planning-todo.css" type="text/css" />

      <!-- Date CSS -->
      <link rel="stylesheet" href="/styles/date.css" type="text/css" />

      <!-- Organized Box Styles -->
      <link rel="stylesheet" href="/styles/organized-data.css" type="text/css" />

      <!-- Side Bar Styles -->
      <link rel="stylesheet" href="/styles/side-bar.css" type="text/css" />

      <!-- Fonts CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"/>
      <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>

      <!-- Rating Widget CSS -->
      <link rel="stylesheet" href="/styles/rating-widget.css" type="text/css" />


      <!-- Default Scripts -->
      <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
      <script type="text/javascript" src="/scripts/app.js"></script>

      <!-- Category Slide Script -->
      <script type="text/javascript" src="/scripts/category-slide.js"></script>

      <!-- Striked Out Script -->
      <script type="text/javascript" src="/scripts/finished-item.js"></script>

      <!-- Rating Widget Script-->
      <script type="text/javascript" src="/scripts/rating-widget.js"></script>




  </head>



  <body>

  <nav class="top-bar">
    <span class="comp-name">Sham 2dU</span>
    <button class="new-item-button">Write New TwoDoos</button>
  </nav>

  <section class="working-area">

    <div class="side-bar">
      <h5 class="index-title">Things ToDo</h4>
      <button class="cat-slide">
        Categories
      </button>
      <button class="cats">
        <i class="fas fa-film"></i>
        Film / Series
      </button>
      <button class="cats">
        <i class="fas fa-utensils"></i>
        Restaurants
      </button>
      <button class="cats">
        <i class="fas fa-book"></i>
        Books
      </button>
      <button class="cats">
        <i class="fas fa-shopping-bag"></i>
        Products
      </button>
      <button class="side">
        Due Date
      </button>
      <button class="side">
        Priorities
      </button >
    </div>


      <div class="add-list-area">

        <div class="question-box">
          <h2 class="todo-title">My Too Doo List</h2>
          <input class="todos" type="text" placeholder="What are you planning?">
          <button class="todo-btn">Add</button>
          <div class="due-priority-box">
            <div class="title-due">
              <label class="due-title">When is this due/happening?</label>
              <input class="due-date-input" type="date">
            </div>
              <div class='rating-stars'>
                <label class="star-label">How Urgent Is This?</label>
                <ul id='stars'>
                  <li class='star' title='Not Important' data-value='1'>
                    <i class='fa fa-star fa-fw'></i>
                  </li>
                  <li class='star' title='Will Do Later' data-value='2'>
                    <i class='fa fa-star fa-fw'></i>
                  </li>
                  <li class='star' title='Get It Done Soon' data-value='3'>
                    <i class='fa fa-star fa-fw'></i>
                  </li>
                  <li class='star' title='Need To Finish' data-value='4'>
                    <i class='fa fa-star fa-fw'></i>
                  </li>
                  <li class='star' title='Its already late!' data-value='5'>
                    <i class='fa fa-star fa-fw'></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>

    <div class="check-list-delete">

      <ul class="list-box">
        <li class="list-item">
          <button class="check-btns">
            <i class="fas fa-check"></i>
          </button>
          Hit the gym
          <button class="delete-btn">
            <i class="fas fa-eraser"></i>
          </button>
        </li>
        <li class="list-item">
          <button class="check-btns">
            <i class="fas fa-check"></i>
          </button>
          Pay bills
          <button class="delete-btn">
            <i class="fas fa-eraser"></i>
          </button>
        </li>
        <li class="list-item">
          <button class="check-btns">
            <i class="fas fa-check"></i>
          </button>
          Meet George
          <button class="delete-btn">
            <i class="fas fa-eraser"></i>
          </button>
        </li>
        <li class="list-item">
          <button class="check-btns">
            <i class="fas fa-check"></i>
          </button>
          Buy eggs
          <button class="delete-btn">
            <i class="fas fa-eraser"></i>
          </button>
        </li>
        <li class="list-item">
          <button class="check-btns">
            <i class="fas fa-check"></i>
          </button>
          Read a book
          <button class="delete-btn">
            <i class="fas fa-eraser"></i>
          </button>
        </li>
        <li class="list-item">
          <button class="check-btns">
            <i class="fas fa-check"></i>
          </button>
          Organize office
          <button class="delete-btn">
            <i class="fas fa-eraser"></i>
          </button>
        </li>
      </ul>
    </div>

    <div class="organized-box">
    category

    due date

    Priorities

    </div>



    </div>

    <div class="blank-div">
      SERGES DEW
    </div>




    </section>
  </body>
</html>
