// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

.working-area {
  display: flex;
  justify-content: space-between;
}

/* Style the blank div */
.blank-div {
  border: 1px solid red;
  margin: 1%;
}
