.add-list-area {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  justify-content: center;
  width: 70%;
  margin: 1%;
}

/* Style the My Todo list area with form */


.question-box {
  border: solid red 1px;
  text-align: center;
}

.todo-title {
  margin-top: 2%;
  margin-bottom: 2%;
}

.todos {
  width: 75%;
  margin-bottom: 1.5%;
}

.add-btn {
  cursor: pointer;
  background: #4698ED;
  border: none;
}

.add-btn:active {
  transform: scale(.9);
}

/* Style the list items */

.check-list-delete {
  display: flex;
  align-items: center;
}

.list-box {
  border: 1px solid red;
  list-style-type: none;
  padding-left: 0;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.list-item {
  cursor: pointer;
  padding-bottom: .25em;
  padding-top: .25em;
  font-weight: bold;
}

.list-item:nth-child(odd) {
  background: #f9f9f9;
}

.fas.fa-check {
  display: none;
}

.list-item.checked {
  text-decoration: line-through;
  font-weight: normal;
}

.list-item:hover {
  background: #A3A3A2;
}

.check-btns {
  cursor: pointer;
  padding-top: 0%;
  padding-bottom: 0%;
  background: none;
  border: none;
  overflow:auto;
}

.check-btns:active {
  transform: scale(.9);
}

.delete-btn {
  cursor: pointer;
  background: #EA3534;
  border: none;
  padding-bottom: 0%;
  padding-top: 0%;
  padding-left: 4%;
  padding-right: 4%;
  margin-right: 2%;
  float: right;
}

.delete-btn:active {
  transform: scale(.9);
}

