 .top-bar {
  background-color: #F29100;
  display: flex;
  justify-content: space-between;
  background-image: url('../images/concrete-wall-2.png');
  width: 100%;
  top: 0;
  padding: 1.5em;
  z-index: 25;
}

.new-item-button {
  background: none;
  border: none;
  font-family: 'Fjalla One', sans-serif;
  font-size: x-large;
}

.comp-name {
  font-family: 'Fjalla One', sans-serif;
  font-size: xx-large;
}
